
body {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    margin: 0;
    padding: 0;
    font-weight: 500;
    box-sizing: border-box;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
    background: #2c2c2c;
    overflow: hidden;
    height: 100vh;
}
.main {
    display: flex;
    flex-direction: row;
    flex: 1;
}
.non-wide-layout .main > * {
    flex: 1;
}
.non-wide-layout .main .split .editor-pane {
    margin-left: var(--horizontal-gutter-size);
    box-sizing: border-box;
}

.split {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.pane {
    position: relative;
}
.main-content .pane {
    flex: 1;
}

.titlebar {
    white-space: nowrap;
    position: absolute;
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: var(--horizontal-gutter-size);
    padding-right: 10px;
    top: var(--titlebar-height-negative);
    bottom: 100%;
    left: 0;
    right: 0;
}
.editor-pane .titlebar {
    padding-left: 0;
}

.titlebar::before {
    position: absolute;
    left: var(--horizontal-gutter-size-negative);
    right: 100%;
    top: 0;
    bottom: 0;
    content: '';
    pointer-events: none;
    background-color: inherit;
}
.main > .gutter {
    z-index: 100;
    cursor: col-resize;
}

.cm-editor .cm-gutters {
    -webkit-user-select: none;
    user-select: none;
    border: none;
    color: #303030;
}

.output {
    background-color: #665c54;
    font-family: "Inter";
    font-weight: 400;
    margin-top: var(--titlebar-height);
}
.output .titlebar {
    background-color: #504945;
    color: #ebdbb2;
}

.wide-layout .markup {
    margin-top: var(--titlebar-height);
}

.markup .titlebar {
    background-color: #dec791;
    color: #3c3836;
}
.markup .cm-editor .cm-gutters {
    background: #eddcb3;
}
.markup .cm-editor .cm-layer.cm-selectionLayer .cm-selectionBackground {
    background: #40727f56;
}

.src .cm-editor {
    background-color: #242a25;
}
.src .titlebar {
    background-color: #286b4d;
    color: #ebdbb2;
}
.src .cm-editor .cm-gutters {
    background-color: #303a32;
    color: #ebdbb2;
}
.src .cm-editor .cm-layer.cm-selectionLayer .cm-selectionBackground {
    background: #4a93664c;
}
.src .cm-editor .cm-gutter .cm-activeLineGutter, .src .cm-editor .cm-activeLine {
    background-color: rgba(0, 107, 96, 0.22);
}

.css .titlebar {
    background-color: #8b3d22;
    color: #ebdbb2;
}
.css .cm-editor .cm-gutters {
    background-color: #4a312a;
    color: #ebdbb2;
}
.css .cm-editor .cm-layer.cm-selectionLayer .cm-selectionBackground {
    background: #a950144c;
}
.css .cm-editor .cm-gutter .cm-activeLineGutter, .css .cm-editor .cm-activeLine {
    background-color: rgba(109, 91, 0, 0.22);
}

.pane-body {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.editor-pane .pane-body {
    left: var(--horizontal-gutter-size-negative);
}
.divboard-container {
    color: #f7e6bb;
    padding: 10px;
    font-size: 16px;
}
.divboard-container::selection, .divboard-container *::selection {
    background: #4a413b;
}

.pane-body-inner, .pane-body-inner-stretch {
    overflow: auto;
    height: 100%;
}
.pane-body-inner-stretch > * {
    height: 100%;
}

.textedit {
    min-height: calc(100% - 20px);
    padding: 10px;
    font-size: 15px;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    margin: 0;
    white-space: pre;
}
div[contenteditable="true"] {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    margin: 0;
}

.button-group {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
}
.titlebar-control {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    pointer-events: auto;
    margin-left: 20px;
}
.titlebar > .titlebar-control:first-child {
    margin-left: 80px;
}
.button {
    height: 100%;
    align-self: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    font-size: 0.9em;
}
.label {
    margin-right: 10px;
    font-size: 0.9em;
    opacity: 0.0;
}
.button:hover {
    background: #3b3b3b36;
}
.button:active {
    background: #3b3b3b58;
}
.button.button-selected {
    background: #efd796;
}
.src .button-selected {
    background: #437d59;
}

.menubar {
    height: 42px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    -webkit-user-select: none;
    user-select: none;
}
.menubar > * {
    font-size: 1.15em;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}
.menubar .button {
    padding: 0 13px;
    margin: 0;
    height: 100%;
    font-size: 1em;
}
.menubar .button:hover {
    background: #0000006e;
}
.menubar .button:active {
    background: #0000007e;
}
.markup .menubar .button:hover {
    background: #00000012;
}
.markup .menubar .button:active {
    background: #0000001f;
}
.menubar-start {
    justify-content: flex-start;
}
.menubar-center {
    justify-content: center;
}
.menubar-end {
    justify-content: flex-end;
}

.users {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.user-avatar {
    border-radius: 12px;
    width: 21px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85em;
    background-color: #b26487;
}
