
body {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    margin: 0;
    padding: 0;
    font-weight: 500;
    box-sizing: border-box;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
    background: #604f46;
    overflow: hidden;
}
body.non-wide-layout > * {
    flex: 1;
}
body.non-wide-layout .split .editor-pane {
    margin-left: var(--horizontal-gutter-size);
    box-sizing: border-box;
}

.split {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.pane {
    position: relative;
}
.main-content .pane {
    flex: 1;
}

.titlebar {
    white-space: nowrap;
    position: absolute;
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: var(--horizontal-gutter-size);
    padding-right: 15px;
    top: var(--titlebar-height-negative);
    bottom: 100%;
    left: 0;
    right: 0;
}
.editor-pane .titlebar {
    padding-left: 0;
}

.titlebar::before, .pane::before {
    position: absolute;
    left: var(--horizontal-gutter-size-negative);
    right: 100%;
    top: 0;
    bottom: 0;
    content: '';
    pointer-events: none;
    background-color: inherit;
}
body > .gutter {
    cursor: col-resize;
}

.output {
    background-color: #665c54;
    font-family: "Inter";
    font-weight: 400;
    margin-top: var(--titlebar-height);
}
.output .titlebar {
    background-color: #504945;
    color: #ebdbb2;
}

.wide-layout .content {
    margin-top: var(--titlebar-height);
}
.content {
    background-color: #ebdbb2;
    color: #3c3836;
}
.content::before {
    background: #d8c8a3;
}
.content .titlebar {
    background-color: #ccb98e;
    color: #3c3836;
}
.content::selection, .content *::selection {
    background: #c0a673;
}

.src {
    background-color: #7cbb7e;
    color: #2a2725;
}
.src::selection {
    background: #ebdbb2;
}
.src .titlebar {
    background-color: #427b58;
    color: #ebdbb2;
}
.src::before {
    background: #6fa871;
}
.src::selection, .src *::selection {
    background: #4a9366;
}

.css {
    background-color: #da7634;
    color: #2a2725;
}
.css::before {
    background-color: #c76d30;
}
.css .titlebar {
    background-color: #af3a03;
    color: #ebdbb2;
}
.css::selection, .css *::selection {
    background: #c95f19;
}


.pane-body {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.divboard-container {
    color: #ebdbb2;
    padding: 10px;
    font-size: 16px;
}
.divboard-container::selection, .divboard-container *::selection {
    background: #4a413b;
}

.pane-body-inner {
    overflow: auto;
    height: 100%;
}
.textedit {
    min-height: calc(100% - 20px);
    padding: 10px;
    font-size: 15px;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    margin: 0;
    white-space: pre;
}
div[contenteditable="true"] {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    margin: 0;
}
textarea {
    margin: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100%;
    overflow: visible;
}

.button-group {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
}
.titlebar-control {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    pointer-events: auto;
    margin-left: 80px;
}
.button {
    height: 85%;
    align-self: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    font-size: 0.9em;
    border-radius: 3px;
    background-color: #00000019;
}
.button:hover {
    background-color: #75757519;
}
.label {
    margin-right: 10px;
    font-size: 0.9em;
    opacity: 0.0;
}
.content .button-selected {
    background: #e4d0a2;
}
.src .button-selected {
    background: #4f9369;
}
